<footer class="absolute bottom-0 w-full">
    <div class="max-w-7xl mx-auto px-4 py-6 text-center text-sm text-gray-500">
        <p>&copy; <%= new Date().getFullYear() %> <%= web.name %>. All rights reserved.</p>
        <p>Powered by <a class="underline" href="https://github.com/PlumaOffical/Pluma-Panel" target="_blank">Pluma Panel.</a></p>
    </div>
</footer>