<% if (user) { %>
<nav class="bg-white shadow">
  <div class="max-w-4xl mx-auto px-4 py-4 flex items-center justify-between">
    <a href="/" class="text-xl font-bold">Pluma Panel</a>
    <nav>
        <span class="mr-4">Hello, <strong><%= user.username %></strong></span>
        <form action="/auth/logout" method="post" class="inline">
          <button type="submit" class="px-3 py-1 bg-red-500 text-white rounded">Logout</button>
        </form>
    </nav>
  </div>
</nav>
<% } else { %>
<% } %>